##########################
# LED Effects Animations #
##########################
[gcode_macro _toolchanger_led_variables]
variable_tool_led_name: "neopixel:T0_leds"
gcode:
[delayed_gcode _initialize_led]
initial_duration: 0.1
gcode:
    _toolchanger_led_variables

#####################
## Chamber effects ##
#####################

[led_effect calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)


[led_effect homing]
leds:
    neopixel:chamber_leds
layers:
    strobe         1  1.5   add        (1.0,  0.25, 0.0)
    breathing      2  0     difference (1.0, 0.25, 0.0)
    static         1  0     top        (0.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24


[led_effect leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)


[led_effect meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:chamber_leds
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)


[led_effect sb_critical_error]
leds:
    neopixel:chamber_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true




