[include fluidd.cfg]
[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include cartographer.cfg]

# See docs/Config_Reference.md for a description of parameters.
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
# endstop_pin: ^PF4
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 400
position_max: 400
homing_speed: 80
homing_retract_dist: 0
homing_positive_dir: true

# [stepper_x1]
# step_pin: PE2
# dir_pin: PE1
# enable_pin: !PE4
# microsteps: 16
# rotation_distance: 40

[stepper_y]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
# endstop_pin: ^PF4
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 400
position_max: 400
homing_speed: 80
homing_retract_dist: 0
homing_positive_dir: true

# [stepper_y1]
# step_pin: PB8
# dir_pin: PB7
# enable_pin: !PE0
# microsteps: 16
# rotation_distance: 40

[stepper_z]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
##UNCOMMENT THE BELOW LINE WHEN CARTO IS AVAILABLE
endstop_pin: probe:z_virtual_endstop
##COMMENT OUT THE NEXT TWO LINES ONCE CARTO IS AVAILABLE
# endstop_pin: !PF0
# position_endstop: 0
homing_retract_dist: 0
position_max: 400

[stepper_z1]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[stepper_z2]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[stepper_z3]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16

[heater_bed]
heater_pin: PF5
sensor_type: Generic 3950
sensor_pin: PB1 # TB
control: watermark
min_temp: -100  ########## FIX ME 
max_temp: 130


# Controller fan for MCU / stepper drivers
[temperature_fan Manta_M8P]
pin: PF7                       # Replace with your actual fan control pin
sensor_type: temperature_mcu   # Use MCU's internal temperature sensor
control: watermark             # Simple on/off or stepped control
min_temp: 0                    # Fan won't run below this temp
max_temp: 80                   # Safety cutoff
target_temp: 50                # Fan starts ramping up here
max_speed: 1.0                 # Full speed (1.0 = 100%)
min_speed: 0.3                 # Minimum speed when active (30%)
kick_start_time: 0.5           # Burst at full speed to start spinning
shutdown_speed: 0              # Fan stops when below target_temp


#[heater_fan fan2]
#pin: PC12

#[heater_fan fan3]
#pin: PE5

#[heater_fan fan4]
#pin: PE4

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

#[heater_fan fan6]
#pin: PB9
#tachometer_pin: PC15

#[heater_fan SoC_fan]
#pin: CB1:gpio79
#pin: RPI:gpio26

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1A0014000951313339373836-if00

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 1000
max_z_velocity: 120
max_z_accel: 1000

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.800
stealthchop_threshold: 0
sense_resistor: 0.110
diag_pin: PF4
driver_SGTHRS:60
# [tmc2209 stepper_x1]
# uart_pin: PE3
# diag_pin: PF3
# run_current: 0.800
# stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PB5
run_current: 0.800
stealthchop_threshold: 0
sense_resistor: 0.110
diag_pin: PF1
driver_SGTHRS: 60

# [tmc2209 stepper_y1]
# uart_pin: PB9
# run_current: 0.800
# stealthchop_threshold: 0
# sense_resistor: 0.110
# # diag_pin: PF1
# driver_SGTHRS: 75

[tmc2209 stepper_z]
uart_pin: PG14
#diag_pin: PF5
run_current: 0.650
stealthchop_threshold: 0
[tmc2209 stepper_z1]
uart_pin: PG10
#diag_pin: PF5
run_current: 0.650
stealthchop_threshold: 0
[tmc2209 stepper_z2]
uart_pin: PD5
#diag_pin: PF5
run_current: 0.650
stealthchop_threshold: 0
[tmc2209 stepper_z3]
uart_pin: PC6
#diag_pin: PF5
run_current: 0.650
stealthchop_threshold: 0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[output_pin ps_on_pin]
#pin: PC3

#[output_pin pc13_pin]
#pin: PC13

#[neopixel my_neopixel_1]
#pin: PA9

#[neopixel my_neopixel_2]
#pin: PB15

#[adxl345]
#cs_pin: PC4
#spi_bus: spi1
[temperature_sensor CM4]
sensor_type: temperature_host
min_temp: 0
max_temp: 70


[quad_gantry_level]
gantry_corners:
	-27,-67
	427,467
points:
	50,25
	50,320
	320,320
	320,25

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 2
retries: 10
retry_tolerance: 0.01
max_adjust: 15

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 44.2
damping_ratio_x = 0.064
shaper_type_y = mzv
shaper_freq_y = 50.8
damping_ratio_y = 0.055

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.3746446214810568,1.8687871143538974,0.856269787548718,0.28982559808604497,0.49200715751627844,0.9097918315581083,-0.3299712378336891,-0.9376685334276936,0.40754269404103854,0.5716959398456399
#*# domain = 3.140683865419395e-07,3.3104873773039404e-07
#*# z_offset = 0
#*# reference_temperature = 51.71
#*# software_version = 1.1.0
#*# mcu_version = CARTOGRAPHER 5.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 6000
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.1.0
#*# mcu_version = CARTOGRAPHER 5.1.0
